/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
	background:#ddd;
}

#masthead {
	position:relative;
}

#container {
	background:#fff;
	width:1024px;
	margin: 0 auto;
	border: 1px dotted black;
	padding: 5px 10px;
}

#login_logout {
	position:absolute;
	right:0px;
	top:0px;
	text-align:right;
}

#flash_notice {
	padding: 2px 5px;
	background: #3c3;
	border: 2px solid #093;
}

#footer {
	
}

#footer p{
	font-size:12px;
	color: gray;
}