/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	background: #ddd;
	background: #fff url("gradient-hexagon.png") no-repeat;
}

h1, h2, h3 {
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h2 span {
	color: #ff9900;
}

#masthead {
	position:relative;
}

#masthead h1 img {
	height: 75px;
	width: 400px;
}

#container {
	background:#fff;
	width:960px;
	margin: 1px auto;
/*	border: 1px dotted black;*/
	padding: 5px 15px 0px 15px;
}

#container fieldset {
	margin: 5px 0px;
}


#login_logout {
	position:absolute;
	right:0px;
	top:0px;
	text-align:right;
}

#flash_notice {
	padding: 2px 5px;
	background: #3c3;
	border: 2px solid #093;
	width: 90%;
	margin: 0px auto;
}

#footer {
	padding: 10px 0px 1px 0px;
}

#footer p{
	font-size:10px;
	color: gray;
}

ul {
	
}

li {
	line-height: 1.5em;
}

