/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	background: #ddd;
	background: #fff url("gradient-hexagon.png") no-repeat;
	padding:0px;
	margin:0px;
}

h1, h2, h3 {
/*	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;*/
	font-family: Impact, Charcoal, sans-serif;
	margin:0px 0px 5px 0px;
}

h2 {
	font-size: 34px;
}

h3 {
	font-size: 20px;
	font-family: Arial, Verdana, Helvetica, sans-serif;	
	font-weight: bold;
}

h4 {
	padding: 0px;
	margin: 0px;
	font-weight: bold;
}

h2 span, h1 span {
	color: #ff9900;
}

.masthead_container {
	padding: 0px;
	background:#696969;
	width:100%;
	width:920px;
	height:90px;
}

#masthead {
	width:900px;
	margin: 0px auto;
	position:relative;
	height:100%;
	padding:0px 10px;
/*	padding-top:8px;*/
	vertical-align:center;
}

#masthead h1 {
	margin: 0px;
/*	padding: 8px 8px;*/
	height:100%;
	vertical-align:middle;
}

#masthead h1 img {
	height: 75px;
	width: 400px;
}

#masthead h1 a{
	text-decoration:none;
	font-size:48px;
	font-family:"Impact", "Verdana", sans-serif;
	font-weight:bold;
	color:black;
	height:100%;
	display:block;
	vertical-align:middle;
	line-height:80px;
}



#login_logout {
	position:absolute;
	right:8px;
	top:8px;
	text-align:right;
	color:white;
	font-size:14px;
	font-weight:bold;
	line-height:1.4em;
}

#login_logout a{
	font-size:16px;
	color:black;
	padding:2px 4px;
	background: white;
	border: 1px double orange;
	text-decoration:none;
}

ul#nav_bar {
	position:absolute;
	right:8px;
	bottom:0px;
	display:inline;
	margin:0px;
	padding:0px;
	font-size:0px;
/*	border: 0px;*/
/*	padding:2px;*/
	list-style-type:none;
/*	background:yellow;*/*/
}

ul#nav_bar li {
	display:inline-block;
	font-size:14px;
	font-weight:bold;
	padding:0px;
	margin:0px 0px 0px 3px;
	border:0px;
	height:100%;
/*	border-left: 2px solid black;*/
}

ul#nav_bar li:first-child {
	margin:0px;
}

#nav_bar a {
	background:white;
/*	border: 1px double orange;*/
	text-decoration:none;
	padding: 2px 4px 0px 4px;
	margin: 0px;
	height:100%;
	display:block;
}




#container {
	background:#fff;
	width:900px;
	margin: 0px auto;
/*	border: 1px dotted black;*/
/*	padding: 0px 15px 0px 15px;*/
	padding: 15px 0px;
}

#container fieldset {
	margin: 5px 0px;
}

#content {
	padding: 0px 10px;
	margin:5px 0px;
}


#flash_notice {
	padding: 8px 10px;
	background: #00cc99;
/*	border: 2px solid #093;*/
	width: 100%;
	margin: 0px;
}

#footer {
	padding: 5px 10px;
}

#footer p{
	font-size:10px;
	color: gray;
}

ul {
	
}

li {
	line-height: 1.5em;
}


.col_block {
	float:left;
	height: 200px;
	overflow:auto;
	width: 400px;
	margin: 0px;
	padding: 0px 5px;
}

.clear {
	clear:both;
}



div.item_tools {
	display:block;
	padding:3px;
	font-size:14px;
	line-height:1.2em;
	width:170px;
	background-color:#FC6;
	border: 1px solid #F93;
	text-align:center;
}

.item_tools strong {
	font-size: 16px;
	font-weight: bold;
	line-height:1.3em;
}

.item_tools img {
	margin: 0px;
	padding: 0px;
}


.purchased_link, .book_link {
	font-size: 16px;
	font-weight: bold;
	line-height:1.3em;
}

.cancel_booking_link {
	
}

div.registry_item {
	min-height: 6.0em;
}