/**********
* Variables
**********/

$orange: #ff9900;
$darkgrey: #696969;
$white: #fff;
$pale-orange: #FC6;

$padding: 24px;

$font-normal: 16px;

$sans-serif-stack: Arial, Verdana, Helvetica, sans-serif;
$big-sans-serif-stack: Impact, Charcoal, sans-serif;
